---
name: "Styleguide"
styleguide: false
input:
  type: 'object'
  required: ['components']
  properties:
    components:
      type: 'array'
---
{{ include("templates/_head.html", data) }}
<h1>Styleguide</h1>

{% data.components.forEach(function (component) { %}
<section class="styleguide-component">
  {% if (component.path.match(/^templates\//)) { %}
  {% /* `srcdoc` breaks livereload, base64 in `src` destroys CSS base URL.
  <h2>{{ component.name }}</h2>
  <p>
    <code>{{ component.path }}</code>
  </p>
    <iframe class="demo" sandbox=""
      src="data:text/html;base64,{{ new Buffer(component.demo).toString('base64') }}">
    </iframe>
  */ %}
  {% } else { %}
  <div class="demo">
    {{ component.demo }}
  </div>
  {% } %}
</section>
{% }) %}

{{ include("templates/_tail.html", data) }}
